a {
  text-decoration: none !important;
  text-transform: uppercase;
  color: rgb(40, 38, 38);
  font-weight: 700;
  font-size: 25px;
}

a:hover {
  color: crimson;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}



